# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class



# Distribution / packaging
.Python
env/
venv/
ENV/
env.bak/
venv.bak/


# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
Pipfile.lock

# poetry
poetry.lock



# Local .env files
.env
*.env

